doctype html
html
  head
    title Urban Dance Academy
    block scripts
    block style 
  body
    nav#navbar
      ul 
        div#logo
          img(src="../static/logolast.png")
          | UDA
        li #[a(href="/") Home]
        li #[a(href="/") About]
        li #[a(href="/") Services]
        li #[a(href="/") Class Info]
        li #[a(href="/contact") Contact us]
    block content
    footer#footer
      | Copyright &copy; 2022 Urban-Dance-Academy | Created by Rafat Alam Saifi