@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Josefin+Sans:wght@100&family=Licorice&family=Oxygen:wght@300&family=Teko:wght@300&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    padding: 10px 10px;
    font-family: 'Acme', sans-serif;
    background-color: rgb(188 141 141);
    
}
#navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0px 30px;
}

#navbar li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
    color: black;
}

#introSection {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 600px;
    padding-bottom: 231px;
}
#maindiv {
    display: flex;
    flex-direction: row;
}

div.big{
    line-height: 23px;
    padding-right: 7px;
}

div.name{
    color: #e85b5b;
}

div.small{
    font-size: 2rem;;
}

#sponsorsSection {
    height: 300px;
    background-color: blue;

}

#footer {
    height: 100px;
    background-color: black;
    color: white;

}