@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Josefin+Sans:wght@100&family=Licorice&family=Oxygen:wght@300&family=Teko:wght@300&family=Titan+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    padding: 10px 10px;
    font-family: 'Acme', sans-serif;
    background-color: #e85b5b;
    width: 100%;
    position: fixed;
    top: 0;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    margin: 0px 10px;
}

#logo img {
    height: 50px;
    filter: brightness(100);
    align-self: left;
    margin: 0px 10px;

}

#navbar ul {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0px 30px;
}

#navbar li a {
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
    color: white;
}

#navbar li a:hover {
    color: black;
}

#introSection {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: 'Teko', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    background-image: url('/static/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-bottom: 231px;
    margin-top: 70px;
}

#maindiv {
    display: flex;
    flex-direction: row;
}

div.big {
    line-height: 23px;
    padding-right: 7px;
}

div.name {
    color: #e85b5b;
}

div.small {
    font-size: 2rem;
    ;
}

#missionSection {
    height: 300px;
    background-color: rgb(248, 240, 240);
    text-align: center;
    padding: 30px 10px;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

div.card {
    width: 20%;
    display: inline-block;
    border: 2px solid black;
    margin: 28px 14px;
    height: 180px;
    border-radius: 5px;
    font-family: 'Teko', sans-serif;
    background-color: rgb(251 201 201);
}

.card h3 {
    margin: 10px auto;
    font-size: 25px;
    color: black;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img {
    height: 100px;
    padding: 0 14px;
}

.card-img img {
    height: 90px;
    /* width: 50px; */
}

.mid img {
    width: 72px;
}

.card-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    padding: 5px 10px;
    color: #e85b5b;
}

#sponsorsSection {
    height: 300px;
    background-color: rgb(211, 176, 196);
    text-align: center;
    padding: 30px 10px;
    font-family: 'Acme', sans-serif;
    font-size: 25px;
}

#sponsors {
    display: flex;
    flex-direction: row;
    height: 150px;
    max-width: 1000px;
    margin: 28px auto;
    justify-content: center;
}

#sponsors img {
    padding: 0px 40px;
}

#footer {
    display: flex;
    height: 50px;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
}